
.card {

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid rgba($theme-light, .5);
  border-right: 1px solid rgba($theme-light, .2);
  border-bottom: 1px solid rgba($theme-light, .2);
  border-radius: 16px;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: rgba($theme-light, .15);
  background-image: linear-gradient(90deg, rgba($theme-light, .4), rgba($theme-light, .15));
  background-clip: padding-box;
  backdrop-filter: blur(px);
  box-shadow: 0 12px 24px 0 rgba(black, .1);
  transition: all 400ms ease;
  overflow: hidden;
  box-sizing: border-box;

  @include theme-dark-scheme {
    // $theme-light: black;
    // color: white;
    border: 1px solid rgba($theme-light, .3);
    background-color: rgba($theme-light, .15);
    background-image: linear-gradient(90deg, rgba($theme-light, .4), rgba($theme-light, .15));
  }

  &:hover {
    background-color: rgba($theme-light, .25);
    @include theme-dark-scheme {
      // $theme-light: black;
      background-color: rgba($theme-light, .25);
    }
  }

  &::before {
    content: "";
    display: block;
    @include absolute($top: 0, $left: 0);
    transform: translate(-25%, -50%);
    @include size(60px);
    filter: blur(40px);
    background-color: $theme-light;
    opacity: .8;
    @include no-events();
    z-index: 0;

    @include theme-dark-scheme {
      // $theme-light: black;
      background-color: $theme-light;
    }
  }

  &-title {
    font-size: 16px;
    margin-bottom: 4px;
    text-align: center;
  }
  &-label {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    opacity: .8;
  }
  &-links {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  .link {
    display: inline-block;
    text-decoration: none;
    margin: 0 4px;
    &:focus {
      outline: none;
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    @include size(32px);
    border-radius: 8px;
    background-color: white;
    background-color: rgba($theme-light, .6);
    box-sizing: border-box;
    @include theme-dark-scheme {
      // $theme-light: black;
      background-color: rgba($theme-light, .6);
    }
  }
  .icon.fa-external-link-alt {
    font-size: 14px;
  }
}