
.header {
  position: relative;
  flex: none;
  padding: 15px 0;
  box-sizing: border-box;
  z-index: 1;

  &-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-brand {
    .icon {
      @include size(48px);
      line-height: 48px;
      font-size: 40px;
      text-align: center;
      line-height: 1;
      box-sizing: border-box;
    }
  }
  &-profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-info {
    flex: 1;
    color: black;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .profile-title {
    text-transform: uppercase;
    text-align: right;
    font-size: 14px;
    line-height: 1;
  }
  .profile-category {
    font-size: 12px;
    line-height: 1;
    text-align: right;
    // font-variant: small-caps;
  }
  .profile-avatar {
    flex: none;
    @include size(48px);
    border-radius: 9999px;
    overflow: hidden;
    img {
      @include img-cover();
    }
  }
}